html {
  /* permanent scroll bar (prevents divs from shifting when scroll bar appears) */
  overflow-y: scroll;
}

body {
  width: 100%;
  height: 100vh;
}

.App {
  margin: 0px;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #efffcd, #fff8d1);
  font-family: "Barlow", sans-serif;
}
