.side-bar {
  position: fixed;
  z-index: 50;
  top: 0px;
  right: 0px;
  -webkit-box-shadow: 4px 4px 4px 4px #ccc;
  -moz-box-shadow: 4px 4px 4px 4px #ccc;
  box-shadow: 4px 4px 4px 4px #ccc;
  width: 400px;
  height: 100vh;
  background-color: white;
  transition: 0.4s ease-in-out;
}

.sb-heading {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sb-heading div {
  margin: 10px 20px;
}

.sb-close {
  cursor: pointer;
}

.sb-close:hover {
}

.sb-nom {
  width: inherit;
  height: 110px;
  margin: 15px 10px;
  display: flex;
}

.nom-image {
  min-width: 100px;
  height: inherit;
  background-color: grey;
  margin: 0px 10px;
}

.nom-title {
  font-size: 20px;
  font-weight: 500;
}

.submit-btn {
  position: relative;
  width: 100px;
  height: 50px;
  margin: 30px auto;
}

.submit,
.no-submit,
.submit-shadow {
  position: absolute;
  text-align: center;
  border: 1px solid black;
  width: inherit;
  height: 30px;
  line-height: 30px;
  z-index: 2;
  top: 0px;
  left: 0px;
  background-color: white;
}

.submit-shadow {
  background-color: black;
  z-index: 1;
  top: 5px;
  left: 5px;
}
