.search-bar {
  height: fit-content;
  width: fit-content;
  margin: 40vh auto;
  margin-bottom: 150px;
  transition: 0.2s ease-in-out;
}

.fixed {
  position: fixed;
  z-index: 5;
  left: 50%;
  top: 15px;
  margin: 0px;
  margin-left: -283px;
}

.heading {
  position: relative;
  height: 30px;
  width: 300px;
  margin: auto;
}

.text {
  position: absolute;
  z-index: 3;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1px;
}

.background {
  position: absolute;
  background-color: rgb(255, 205, 192);
  width: 275px;
  height: 15px;
  z-index: 2;
  left: 10px;
  top: 5px;
  animation: rainbow 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.search {
  position: relative;
  margin: 0px auto;
  width: 566px;
}

.bar {
  position: absolute;
  width: 550px;
  height: 40px;
  border: 2px solid black;
  background-color: white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: inherit;
  padding-left: 10px;
  z-index: 3;
}

.bar::placeholder {
  font-weight: 700;
  color: #717171;
  font-style: italic;
}

.bar:focus {
  outline: 1px solid black;
}

.shadow {
  position: absolute;
  width: 566px;
  height: 40px;
  background-color: black;
  z-index: 2;
  top: 14px;
  left: 7px;
}

@keyframes rainbow {
  0% {
    background-color: rgb(255, 205, 192);
  }
  20% {
    background-color: rgb(254, 255, 175);
  }
  40% {
    background-color: rgb(196, 255, 214);
  }
  60% {
    background-color: rgb(192, 232, 255);
  }
  80% {
    background-color: rgb(255, 208, 239);
  }
  100% {
    background-color: rgb(255, 205, 192);
  }
}
