.submit-popup {
  position: fixed;
  z-index: 99;
  left: 0px;
  right: 0px;
  bottom: 50%;
  margin: auto;
  margin-bottom: -50px;
  height: 100px;
  width: 300px;
  border: 4px solid black;
  background-color: white;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.close-icon {
  display: flex;
  flex-direction: row-reverse;
  font-size: 22px;
  cursor: pointer;
  margin: 7px;
  margin-bottom: 2px;
}

.close-icon:hover > svg {
  fill: rgb(221, 102, 102);
  transition: 0.2s ease-in-out;
}

.submit-text {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  width: 80%;
  margin: auto;
}
